@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

button {
  cursor: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(79 70 229);
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(155 150 221);
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}